:root{
    --scroll-bar-color: #d4d4d4;
  }
  
  .custom-scroll-bar1 * , .custom-scroll-bar1 *{
      scrollbar-width: thin;
      scrollbar-color: var(--scroll-bar-color) transparent;
    }
    
    /* Chrome, Edge, and Safari */
    .custom-scroll-bar1 *::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    
    .custom-scroll-bar1 *.hovered::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
      
    .custom-scroll-bar1 *::-webkit-scrollbar-track {
      background: #ebebeb;
    }
    
    .custom-scroll-bar1 *::-webkit-scrollbar-thumb {
      background-color: #adb0b4;
      border-radius: 10px;
    }
    
  