.main-theme{
    --ag-border-radius: 0px !important;
	--ag-wrapper-border-radius: 6px !important;
	--ag-header-font-family: 'Roboto';
	--ag-header-font-weight: 800;
	--ag-header-font-size: 13px;
	--ag-header-cell-hover-background-color: #e5e5e5;
    --ag-border-radius: 0px ;
    --ag-wrapper-border: solid 1px var(--ag-border-color);
}

.ag-menu{
	border-radius: 0px !important;
}